{% load static %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myproject/css/email.css' %}">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1></h1>
        </div>
        <div class="content">
            <p><strong>Dear Employee,</strong></p>
            <p>We are pleased to inform you that your pay slip for this month</p>
            <p>has been generated successfully.</p>
            

            <p>Thank you for your hard work and dedication.</p>
            <p>Best regards,</p>
            <p>Most India</p>
        </div>
        <div class="footer">
            <p>&copy; 2023 Company Most India. All rights reserved.</p>
        </div>
    </div>
</body>
</html>